<style>
body {
    margin: 1em auto;
    max-width: 50em;
    padding: 0.62em;
    font: 1.2em/1.62em sans-serif;
}
h1,h2,h3 {
    line-height: 1.2em;
}

.description {
    font-size: 0.7rem;
    font-stretch: condensed;
    display: none;
}

.mono, .num {
    font-family: monospace;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 700px;
}

/* Good table CSS from
   https://github.com/mdn/learning-area/blob/master/html/tables/basic/minimal-table.css
*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
th {
    background-color: rgb(235,235,235);
}
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}
caption {
    padding: 10px;
}
</style>